<!DOCTYPE html>
<!-- Made with Frappe Studio -->
<html lang="en">
<head>
	<base href="{{ base_url }}">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if disable_indexing %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}
	<title>{{title}}</title>
	<link rel="icon" href="{{ favicon }}" />
</head>
{% block page_content %}
<script> window.csrf_token = '{{ csrf_token }}'; </script>
{% endblock %}
</html>

<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Frappe Studio</title>
	</head>
	<body>
		<div id="studio"></div>
		<div id="app"></div>
		<div id="modals"></div>
		<div id="popovers"></div>

		<script> window.csrf_token = '{{ csrf_token }}'; </script>
		<script type="module" src="/src/main.ts"></script>
	</body>
</html> -->

