<!DOCTYPE html>
<!-- Built with Frappe Studio -->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="assets/studio/frontend/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ app_title }}</title>
		<script type="module" crossorigin src="/assets/studio/frontend/renderer.js"></script>
		<link rel="modulepreload" crossorigin href="/assets/studio/frontend/assets/globals-BWMdkHHK.js">
		<link rel="stylesheet" crossorigin href="/assets/studio/frontend/assets/globals-HgSdbw9r.css">
	</head>
	<body>
		<div id="app"></div>
		<div id="modals"></div>
		<div id="popovers"></div>
		<script>
			window.csrf_token = "{{ csrf_token }}";
			window.app_name = "{{ app_name }}";
			window.app_route = "{{ app_route }}";
			window.app_title = "{{ app_title }}";
			window.app_pages = {{ app_pages|tojson }};
		</script>
	</body>
</html>